/* h1{
    background-color: blue;
    color: white;
} */
navbar{
    text-decoration: none;
    display: flex;
    justify-content: end;
    flex-direction: row;

}
navbar a{
    color: black;
    text-decoration: none;
    margin: 8px;
    font-size: 20px;
}
a:hover{
    
    color: blue;
}

.logo{
    justify-content: start;
    font-size: 30px;
    margin-top: 60px;
    color: blue;
}
